<% layout('/layouts/boilerplate') %>
<body>
    <form method="post" action="/listings/<%=currListing._id%>?_method=PATCH" enctype="multipart/form-data" novalidate class="needs-validation">


        <div class="mb-3">
            <label for="title" class="form-label">Title </label>
            <input type="text" name="title" value="<%=currListing.title%>" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Please enter title</div>
        </div>
       
       <div class="mb-3">
            <label for="description" class="form-label">Description </label>
            <textarea id="description"  name="description" class="form-control" required><%= currListing.description %></textarea>
            <div class="valid-feedback">Description looks good!</div>
            <div class="invalid-feedback">Please enter short description</div>
       </div>


       <div>
        <p>Original Image Listing</p>
        <img src="<%=changedImage%>" alt="changed image">
       </div>
        
       
       <div class="mb-3">
            <label for="image" class="form-label">Listing Image</label>
            <input id= "image" type="file" name = "image" class="form-control">
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price </label>
            <input type="number" name="price" value="<%=currListing.price%>" class="form-control" required>
            <div class="valid-feedback">Price looks good!</div>
            <div class="invalid-feedback">Please enter valid price</div>
        </div>
        
        <div class="row">
            <div class="mb-3 col-4">
                <label for="location" class="form-label">Location </label>
                <input type="text" name="location" value="<%=currListing.location%>" class="form-control" required>
                <div class="valid-feedback">Location looks good!</div>
                <div class="invalid-feedback">Please enter location name</div>
            </div>

            <div class="mb-3 col-8">
                <label for="country" class="form-label">Country </label>
                <input id="country" type="text" name="country" value="<%=currListing.country %>" class="form-control" required>
                <div class="valid-feedback">Country looks good!</div>
                <div class="invalid-feedback">Please enter country name</div>
            </div>
        </div>
        
        <button class="btn btn-dark add-btn" >Edit</button>
       
  
    </form>
</body>
